In [8]:
import pandas as pd 
import numpy as np 
df = pd.read_csv("all_data_2.csv")
df.head()

,Unnamed: 0,tee,oxford,bomber,ncaa,vest,3-in-1,collared,packable,seersucker,...,sheer,7/8-length,shirt,flouncy,v-neck,color-blocked,pants,cheeky,yoga,Price
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,$40
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,$38
2,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,$75
3,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,$70
4,4,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,$160

In [9]:
df = df.drop(columns=["Unnamed: 0"])
df['Price'] = df['Price'].str.replace('$', '', regex=False).str.replace(',', '').astype(float)
df.head()

,tee,oxford,bomber,ncaa,vest,3-in-1,collared,packable,seersucker,playoff,...,sheer,7/8-length,shirt,flouncy,v-neck,color-blocked,pants,cheeky,yoga,Price
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,40.0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,38.0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,75.0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,70.0
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,160.0

In [9]:
print(df.shape)

(9916, 469)

In [10]:
df.describe()

,tee,oxford,bomber,ncaa,vest,3-in-1,collared,packable,seersucker,playoff,...,sheer,7/8-length,shirt,flouncy,v-neck,color-blocked,pants,cheeky,yoga,Price
count,9916.000000,9916.000000,9916.000000,9916.000000,9916.000000,9916.000000,9916.000000,9916.000000,9916.000000,9916.000000,...,9916.000000,9916.000000,9916.000000,9916.000000,9916.000000,9916.000000,9916.000000,9916.000000,9916.000000,9916.000000
mean,0.001109,0.000303,0.005647,0.000202,0.003933,0.000504,0.000202,0.000303,0.000202,0.000403,...,0.000303,0.000101,0.002118,0.000403,0.001815,0.000403,0.046289,0.000202,0.000303,75.445646
std,0.033290,0.017392,0.074941,0.014201,0.062594,0.022451,0.014201,0.017392,0.014201,0.020081,...,0.017392,0.010042,0.045973,0.020081,0.042569,0.020081,0.210120,0.014201,0.017392,51.225584
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,15.970000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,40.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,60.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,95.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,500.000000

I'm curious about these statistics in terms of mens vs womens products, especially the median price of the products for each category. If one category has a higher median than another, it may simply be due to the fact that one category's clothing items are simply more expensive to make. Still, it will still show that for one gender, the items displayed on their page are still a higher average price than for the other gender. Let's take a look. 

Also I know it's confusing but "1" represents labelled as womens, whereas"0" represents labelled as mens, in the womens column. Usually 0 is the value that refers to the female gender, but because these columns represented a word count, I kept it at 1 for women.

In [10]:
w_df_all_data = df[df['womens'] == 1]
m_df_all_data = df[df['womens'] == 0]

print(w_df_all_data.shape, m_df_all_data.shape)

(2747, 469) (7169, 469)

Adds up to the total number of rows in the all_data dataframe. Great. Now, let's check out the descriptions of each.

In [11]:
# womens products statistics 
w_df_all_data.describe()

,tee,oxford,bomber,ncaa,vest,3-in-1,collared,packable,seersucker,playoff,...,sheer,7/8-length,shirt,flouncy,v-neck,color-blocked,pants,cheeky,yoga,Price
count,2747.000000,2747.0,2747.000000,2747.0,2747.000000,2747.0,2747.000000,2747.000000,2747.0,2747.0,...,2747.000000,2747.0,2747.000000,2747.000000,2747.000000,2747.0,2747.000000,2747.000000,2747.0,2747.000000
mean,0.003276,0.0,0.003276,0.0,0.006917,0.0,0.000728,0.000364,0.0,0.0,...,0.001092,0.0,0.001092,0.001456,0.006553,0.0,0.053513,0.000728,0.0,70.781452
std,0.057156,0.0,0.057156,0.0,0.082893,0.0,0.026978,0.019080,0.0,0.0,...,0.033035,0.0,0.033035,0.038138,0.080697,0.0,0.225095,0.026978,0.0,42.275209
min,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,...,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,15.970000
25%,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,...,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,40.000000
50%,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,...,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,57.000000
75%,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,...,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,90.000000
max,1.000000,0.0,1.000000,0.0,1.000000,0.0,1.000000,1.000000,0.0,0.0,...,1.000000,0.0,1.000000,1.000000,1.000000,0.0,1.000000,1.000000,0.0,400.000000

In [12]:
m_df_all_data.describe()

,tee,oxford,bomber,ncaa,vest,3-in-1,collared,packable,seersucker,playoff,...,sheer,7/8-length,shirt,flouncy,v-neck,color-blocked,pants,cheeky,yoga,Price
count,7169.000000,7169.000000,7169.000000,7169.000000,7169.000000,7169.000000,7169.0,7169.000000,7169.000000,7169.000000,...,7169.0,7169.000000,7169.000000,7169.0,7169.0,7169.000000,7169.000000,7169.0,7169.000000,7169.000000
mean,0.000279,0.000418,0.006556,0.000279,0.002790,0.000697,0.0,0.000279,0.000279,0.000558,...,0.0,0.000139,0.002511,0.0,0.0,0.000558,0.043521,0.0,0.000418,77.232861
std,0.016701,0.020454,0.080709,0.016701,0.052748,0.026402,0.0,0.016701,0.016701,0.023616,...,0.0,0.011811,0.050049,0.0,0.0,0.023616,0.204040,0.0,0.020454,54.161717
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,17.970000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,40.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,60.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,95.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,1.000000,1.000000,1.000000,...,0.0,1.000000,1.000000,0.0,0.0,1.000000,1.000000,0.0,1.000000,500.000000

I'm surprised. The men's median is actually higher than the womens, and the range is in higher values too. This is different than my hypothesis. Nicely done, Nike. Now, let's check out what the model has to say.

In [13]:
df.isnull().sum().sum()

0

No missing values. Nice.

In [14]:
df.nunique()

tee                2
oxford             2
bomber             2
ncaa               2
vest               2
                ...
color-blocked      2
pants              2
cheeky             2
yoga               2
Price            220
Length: 469, dtype: int64

In [18]:
correlations = df.corr()
print(correlations.loc['womens', 'Price'])

-0.056365273890225345

As "womens" goes down (aka, goes from 1 to 0, aka, becomes male), then price goes up.

In [15]:
# lasso time 

x = df.iloc[:, :-1]
y = df.iloc[:, -1]

In [16]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=0)

In [27]:
x_train.to_csv("x_train.csv", index=False)
x_test.to_csv("x_test.csv", index=False)
y_train.to_csv("y_train.csv", index=False)
y_test.to_csv("y_test.csv", index=False)

In [30]:
x_train = pd.read_csv("x_train.csv")
x_train.shape

(7437, 468)

In [31]:
y_train = pd.read_csv("y_train.csv")
y_train.shape

(7437, 1)

In [19]:
from sklearn.linear_model import Lasso
lasso = Lasso(alpha=1)

In [32]:
lasso.fit(x_train, y_train)

Lasso(alpha=1)

In [33]:
y_pred = lasso.predict(x_test)

In [28]:
y_pred

array([126.39129498,  73.06487144,  41.12248367, ...,  65.9728286 ,
        72.0220522 ,  45.07964909])

In [30]:
print("Slope: %.10f" % lasso.coef_[0])

Slope: -0.0000000000

In [31]:
print("Intercept: %.2f" % lasso.intercept_)

Intercept: 73.06

In [22]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, y_pred)

768.7024445132145

In [23]:
from scipy.stats import pearsonr
corr, _ = pearsonr(y_test, y_pred)
print("Pearson correlation coefficient:", corr)

Pearson correlation coefficient: 0.8667451892086341

In [35]:
coefs = lasso.coef_
feature_names = x_train.columns
coefs_df = pd.DataFrame({'Feature': feature_names, 'Coefficient': coefs})
coefs_df.to_csv("coefs.csv", index=False)

In [38]:
elite = df[df['elite'] == 1]
no_elite = df[df['elite'] == 0]

In [39]:
elite.describe()

,tee,oxford,bomber,ncaa,vest,3-in-1,collared,packable,seersucker,playoff,...,sheer,7/8-length,shirt,flouncy,v-neck,color-blocked,pants,cheeky,yoga,Price
count,94.0,94.0,94.0,94.0,94.0,94.0,94.0,94.0,94.0,94.0,...,94.0,94.0,94.0,94.0,94.0,94.0,94.0,94.0,94.0,94.000000
mean,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,364.468085
std,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.615112
min,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,335.000000
25%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,355.000000
50%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,355.000000
75%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,355.000000
max,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,425.000000

In [40]:
no_elite.describe()

,tee,oxford,bomber,ncaa,vest,3-in-1,collared,packable,seersucker,playoff,...,sheer,7/8-length,shirt,flouncy,v-neck,color-blocked,pants,cheeky,yoga,Price
count,9822.000000,9822.000000,9822.000000,9822.000000,9822.000000,9822.000000,9822.000000,9822.000000,9822.000000,9822.000000,...,9822.000000,9822.000000,9822.000000,9822.000000,9822.000000,9822.000000,9822.000000,9822.000000,9822.000000,9822.000000
mean,0.001120,0.000305,0.005701,0.000204,0.003971,0.000509,0.000204,0.000305,0.000204,0.000407,...,0.000305,0.000102,0.002138,0.000407,0.001833,0.000407,0.046732,0.000204,0.000305,72.679600
std,0.033448,0.017475,0.075296,0.014269,0.062891,0.022558,0.014269,0.017475,0.014269,0.020177,...,0.017475,0.010090,0.046192,0.020177,0.042772,0.020177,0.211075,0.014269,0.017475,42.871542
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,15.970000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,40.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,60.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,90.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,500.000000

In [41]:
# repeat everything on no_elite. 

from sklearn.model_selection import train_test_split
from sklearn.linear_model import Lasso

x_ne = no_elite.iloc[:, :-1]
y_ne = no_elite.iloc[:, -1]
x_ne_train, x_ne_test, y_ne_train, y_ne_test = train_test_split(x_ne, y_ne, random_state=0)
lasso_ne = Lasso(alpha=1)
lasso_ne.fit(x_ne, y_ne)
y_ne_pred = lasso_ne.predict(x_ne_test)

In [42]:
from scipy.stats import pearsonr
corr, _ = pearsonr(y_ne_test, y_ne_pred)
print("Pearson correlation coefficient:", corr)

Pearson correlation coefficient: 0.8085372269204176

In [43]:
coefs_ne = lasso_ne.coef_
feature_names_ne = x_ne_train.columns
coefs_ne_df = pd.DataFrame({'Feature': feature_names_ne, 'Coefficient': coefs_ne})
coefs_ne_df.to_csv("coefs_ne.csv", index=False)

Features with the most infleunce on price

In [24]:
coefs_1 = pd.read_csv("coefs.csv")
coefs_1.head()

  Feature  Coefficient
0     tee         -0.0
1  oxford          0.0
2  bomber          0.0
3    ncaa         -0.0
4    vest          0.0

In [45]:
coefs_2 = pd.read_csv("coefs_ne.csv")
coefs_2.head()

  Feature  Coefficient
0     tee         -0.0
1  oxford          0.0
2  bomber          0.0
3    ncaa         -0.0
4    vest          0.0

In [25]:
coefs_1 = coefs_1[coefs_1['Coefficient'] != 0.0]
print("These are the words that are most influential on price. \n")
print(coefs_1)

These are the words that are most influential on price.

     Feature  Coefficient
51    shorts    -7.092043
323   jersey    53.326424
356  t-shirt   -31.942388
365   womens    -2.513694
369      top    -0.358838
398    elite    90.955865
407      adv    38.777850
410      mlb     3.957165
431  college    -1.042819
450   jacket    25.331321

In [54]:
coefs_2 = coefs_2[coefs_2['Coefficient'] != 0.0]
print("Since 'elite' had such a huge coefficent, these are the results \nfor when we take out all products that have the term 'elite' in their description. \n")
print(coefs_2)

Since 'elite' had such a huge coefficent, these are the results
for when we take out all products that have the term 'elite' in their description.

     Feature  Coefficient
51    shorts    -7.185332
209  limited    15.638001
323   jersey    48.037262
356  t-shirt   -31.050834
365   womens    -1.055888
407      adv    19.037288
410      mlb     0.623486
431  college    -1.031139
450   jacket    28.234005

In both cases, we can see that the coefficient for womens is negative. This implies that as "womens" decreases, price increases. But womens is a variable that has 0 = men, and 1 = women. So actually, that means that the model expects a word like "men" to INCREASE the price. That is even when we take out "elite" items. Pretty interesting!