In [92]:
import pandas as pd 
w_df = pd.read_csv("womens_nike_data.csv")
m_df = pd.read_csv("mens_nike_data.csv")
#w_df.head()

I honestly think I'll just keep the duplicates in here because at the end of the day, if they are selling 10 versions of a legging at a higher prices, that is still a product. Like they are still advertising 10 expensive products to their customers, whether or not they are different. This should drive up the averages. Plus we are taking into account what the product is in our analysis, so it should be fine. 

I'm also just nervous that because there are so many duplicated items, we basically won't have any data left. But then again there is the problem of overfitting. I guess we can try both! 


Now let's clean the data.

In [102]:
w_df['Product Title'] = w_df['Product Title'].astype(str)
w_df['Product Title'] = w_df['Product Title'].str.replace('Nike', '', regex=False)
w_df['Product Title'] = w_df['Product Title'].str.replace('(', '', regex=False)
w_df['Product Title'] = w_df['Product Title'].str.replace(')', '', regex=False)

w_df['Product Subtitle'] = w_df['Product Subtitle'].astype(str)
w_df['Product Subtitle'] = w_df['Product Subtitle'].str.replace('Nike', '')
w_df['Product Subtitle'] = w_df['Product Subtitle'].str.replace('(', '')
w_df['Product Subtitle'] = w_df['Product Subtitle'].str.replace(')', '')

# remove apostrophes, they are causing issues
w_df['Product Title'] = w_df['Product Title'].str.replace("'", "", regex=False)
w_df['Product Subtitle'] = w_df['Product Subtitle'].str.replace("'", "", regex=False)


# ensure clothes are specifically labelled "womens"  
w_df = w_df[~w_df['Product Title'].str.contains("Mens")]
w_df = w_df[~w_df['Product Title'].str.contains(" mens")]
w_df = w_df[~w_df['Product Subtitle'].str.contains("Mens")]
w_df = w_df[~w_df['Product Subtitle'].str.contains(" mens")]
w_df = w_df[
    w_df['Product Title'].str.lower().str.contains("womens", na=False) |
    w_df['Product Subtitle'].str.lower().str.contains("womens", na=False)
]

w_df.head()

,Product Title,Product Subtitle,Price
0,Pro,Womens Dri-FIT Cropped Tank Top,$40
1,Pro Sculpt,"Womens High-Waisted 3"" Biker Shorts",$38
2,Sportswear Phoenix Fleece,Womens Over-Oversized Pullover Hoodie,$75
3,Sportswear Phoenix Fleece,Womens High-Waisted Oversized Sweatpants,$70
4,Sportswear Womens Artist Collection,Bomber Jacket,$160

In [104]:
m_df['Product Title'] = m_df['Product Title'].astype(str)
m_df['Product Title'] = m_df['Product Title'].str.replace('Nike', '', regex=False)
m_df['Product Title'] = m_df['Product Title'].str.replace('(', '', regex=False)
m_df['Product Title'] = m_df['Product Title'].str.replace(')', '', regex=False)

m_df['Product Subtitle'] = m_df['Product Subtitle'].astype(str)
m_df['Product Subtitle'] = m_df['Product Subtitle'].str.replace('Nike', '')
m_df['Product Subtitle'] = m_df['Product Subtitle'].str.replace('(', '')
m_df['Product Subtitle'] = m_df['Product Subtitle'].str.replace(')', '')

# remove apostrophes, they are causing issues
m_df['Product Title'] = m_df['Product Title'].str.replace("'", "", regex=False)
m_df['Product Subtitle'] = m_df['Product Subtitle'].str.replace("'", "", regex=False)


# ensure clothes are specifically labelled "mens"  
m_df = m_df[~m_df['Product Title'].str.lower().str.contains("womens")]
#m_df = m_df[~m_df['Product Title'].str.contains("womens")]
m_df = m_df[~m_df['Product Subtitle'].str.lower().str.contains("womens")]
#m_df = m_df[~m_df['Product Subtitle'].str.contains("womens")]
m_df = m_df[
    m_df['Product Title'].str.lower().str.contains("mens", na=False) |
    m_df['Product Subtitle'].str.lower().str.contains("mens", na=False)
]

m_df.tail()

,Product Title,Product Subtitle,Price
7776,Dri-FIT Player NFL Denver Broncos,Mens Pants,$90
7777,Pittsburgh Steelers Blitz,Mens NFL T-Shirt,$40
7778,Miami Dolphins Sideline,Mens Dri-FIT NFL Shorts,$60
7779,Washington Commanders Sideline Coach,Mens Dri-FIT NFL Top,$55
7780,Saquon Barkley Philadelphia Eagles,Mens NFL Game Football Jersey,$130

In [107]:
# see how many unique words are in the subtitle (we will just start with subtitle)
all_words_list = []
for item in w_df['Product Subtitle']: 
    if (isinstance(item, str) == True) :
        item_list = item.split()
        for word in item_list: 
            word = word.lower()
            all_words_list.append(word)
for item in m_df['Product Subtitle']: 
    if (isinstance(item, str) == True) : 
        item_list = item.split()
        for word in item_list: 
            word = word.lower()
            all_words_list.append(word)

all_words_list = sorted(all_words_list)
all_words_set = set(all_words_list)
print(all_words_set)

{'tee', 'oxford', 'bomber', 'ncaa', 'vest', '3-in-1', 'collared', 'packable', 'seersucker', 'playoff', 'victory', 'color-block', 'jogger', 'windshirt', 'mini', 'trunks', 'balloon', 'flow', 'capri', 'adjustable', 'logo', 'boardskirt', 'sweater', 'rain', 'tie-back', 'zippered', 'volley', 'down', 'light-support', 'skirt', 'allover', 'hyper', 'soccer', 'pockets', 'hooded', 'm90', 'scoop', 'socks', 'computational', 'softball', 'scoop-back', 'gymnastics', 'with', 'dugout', '5-pocket', 'overalls', 'destroyer', 'open-hem', '1-piece', 'wordmark', '3/4-sleeve', 'shorts', 'diamond', 'infinalon', 'statement', 'storm-fit', 'parade', 'retro', 'zip', 'easy', 'one-piece', 'slim', 'short-sleeve', 'poncho', 'zip-off', 'military', 'open', 'sports', 'tennis', 'brief', 'straight', 'leg', 'bralette', 'bike', 'high-support', 'hat', 'pair', 'training', 'ringer', 'wide-leg', 'mini-rib', 'belted', 'lace-up', 'crewneck', 'waxed', 'tees', 'hockey', 'tailored', 'full-coverage', 'fleece-lined', 'half-zip', 'fit', 'rookie', 'crew-neck', 'trail', '2-in-1', 'halo', 'light', 'high-rise', 'canvas', 'slim-fit', 'cheer', 'defensive', 'tankini', 'cuff', 'strappy', 'max', 'mens', 'flag', 'leggings', 'low-rise', 'plus', 'ignite', 'longline', '7/8', 'turtleneck', 'asymmetrical', 'wearable', 'legend', 'therma-fit', 'stock', 'satin', 'sleeve', 'square', 'square-neck', 'zip-front', 'tights', 'warm', 'utility', 'poolside', 'shacket', 'sweatpants', 'cuffed', 'rugby', 'bodycon', 'fairway', 'bottoms', 'slider', 'and', 'trouser', 'tapered', 'pocket', 'anorak', 'midweight', 'french-terry', '11"', 'breathe', 'footie', 'atmosphere', 'high-neck', '6"', 'jacquard', 'hydrastrong', 'bandon', 'tunnel', 'air', 'flight', 'panel', 'suit', 'terry', 'patch', 'hijab', 'biker', 'layered', 'nfl', '&', 'hem', 'pleated', 'dna', 'mod', '9\\94', 'polo', 'print', 'non-padded', 'jumpman', 'repel', 'insulated', 'rashguard', 'high', 'mid-rise', 'undershirt', 'keyhole', 'n24', 'quilted', 'fitted', 'muscle', 'work', 'skort', 'reverse', 'split-hem', 'joggers', 'knit', '10.5"', 'game', 'trench', 'scoop-neck', '2024', 'heathered', 'taper', 'pullover', 'short', 'u-neck', 'pairs', '2-pack', 'button-down', 'fusion', 'nba', 'wool', 'striped', 'ribbed-panel', 'limited', 'modal', 'pickleball', 'extended', 'standard', 'henley', 'football', 'pre-match', 'long', '2"', 'sweatshirt', 'versatile', 'club', 'one', 'woven', 'of', 'board', 'poly', 'unlined', 'blade', '4"', 'midkini', 'hybrid', 'water-repellent', 'golf', 'anthem', 'hoodie', 'asymmetrical-waist', 'breakaway', 'button-up', 'bandeau', 'denim', 'courtside', 'chore', 'boxy', 'duster', 'jordan', 'mid', 'pant', 'p44', 'girlfriend', 'graphic', 'camo', '90', 'cargo', 'double-knee', '7"', 'convertible', 'reversible', 'tracksuit', '10"', 'hike', 'holiday', 'high-waisted', 'full-length', 'marina', 'nyc', 'swingman', 'dress', 'brushed-back', 'printed', 'ultra', 'long-sleeve', 'wave', 'therma', 'warm-up', 'funnel-neck', 'tearaway', '1/4-zip', 'authentic', 'weightlifting', 'el', 'sling', '1', 'lined', 'windproof', 't-back', 'corduroy', 'jumpsuit', 'tunic', 'hiking', 'crew', 'midi', '3/4', 'jammer', 'the', 'brief-lined', 'dry', 'running', 'field', '4-pad', 'harrington', 'heavyweight', 'racing', 'swimsuit', '3', 'medium-support', 'cozy', 'boxer', 'cami', 'layer', 'lightweight', '5"', 'year', 'nursing', 'knit"', 'swim', '3/4-length', '1/2-zip', '2-button', 'checkers', 'cover-up', 'cropped', '3-pack', 'jersey', 'twist', 'puffer', 'replica', '"tuff', 'heritage', 'pregame', 'solid', 'mock', 'support', 'bandage', 'drill', 'chino', 'varsity', 'crop', '9"', '1/2-length', 'tight', 'high-pile', 'fatigue', '365', 'poole', 'high-waist', 'french', 'carpenter', 'ultra-high-waisted', 'bra', 'practice', 'wnba', 'neck', 'fleece', 'heroes', 'stretch', 't-shirt', 'padded', 'ma1', 'hydroguard', 'camp', 'dri-fit', 'uv', 'cape', 'singlet', 'womens', 'cooperstown', 'skate', 'trousers', 'top', 'dye', 'cotton', 'volleyball', 'waffle', 'briefs', 'cutoff', 'jeano', 'bottom', 'oversized', 'coaches', 'wrestling', 'player', 'protection', 'shrug', 'water-resistant', 'sleeveless', 'parka', 'collage', 'collegiate', 'lightly', 'pad', 'issue', 'mock-neck', 'tear-away', 'firm-support', 'mesh-paneled', '85', 'commuter', 'elite', 'basketball', 'distressed', 'bungee', 'nike', 'curve', 'mid-layer', 'over-oversized', 'tank', 'adv', 'racerback', 'core', 'mlb', 'court', 'back', 'washed', 'track', 'bodysuit', 'fashion', 'lacrosse', 'up', 'nwsl', 'dr-fit', 'size', 'velour', 'flared', 'engineered', 'performance', 'winterized', '2023', 'bikini', 'full-zip', 'cable', 'college', '8"', 'mantra', 'tech', 'baseball', 'traditions', 'cardigan', 'forward-lined', 'high-hip', 'fitness', 'fadeaway', 'polar', 'ribbed', 'maternity', 'mesh', 'string', 'max90', 'loose', 'pump-compatible', 'jacket', 'gentle-support', 'crossover', 'mid-waisted', 'cross-back', 'kick', '3"', 'coat', 'unitard', 'sheer', '7/8-length', 'shirt', 'flouncy', 'v-neck', 'color-blocked', 'pants', 'cheeky', 'yoga'}

Now we will make a feature matrix. The rows will be the samples (aka the products), the column features will be each unique word, and the value of each entry will be either 1 or 0 : whether or not that word appears in the product description. 

The output variable will be the price. 

Essentially this is a feature selection problem. We can then split the data into 80-20 to test the accuracy of each different feature selection model. 

Maybe I'll start with just the womens for now!

In [118]:
all_data = pd.DataFrame(columns=list(all_words_set))
all_data['Price'] = 0
all_data.head()

for index, row in w_df.iterrows(): 
    product = row['Product Subtitle']
    price = row['Price']

    newrow = {word: 0 for word in list(all_words_set)}
    newrow['Price'] = price

    words = set(product.lower().split())
    for word in words: 
        if word in newrow: 
            newrow[word] = 1 
    newrow['womens'] = 1

    all_data.loc[index] = newrow

all_data.head()

,tee,oxford,bomber,ncaa,vest,3-in-1,collared,packable,seersucker,playoff,...,sheer,7/8-length,shirt,flouncy,v-neck,color-blocked,pants,cheeky,yoga,Price
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,$40
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,$38
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,$75
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,$70
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,$160

In [119]:
all_data.tail()

,tee,oxford,bomber,ncaa,vest,3-in-1,collared,packable,seersucker,playoff,...,sheer,7/8-length,shirt,flouncy,v-neck,color-blocked,pants,cheeky,yoga,Price
3048,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,$130
3049,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,$130
3050,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,$130
3051,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,$130
3052,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,$130

In [120]:
LASTINDEX = 3052 + 1
for index, row in m_df.iterrows(): 
    product = row['Product Subtitle']
    price = row['Price']

    newrow = {word: 0 for word in list(all_words_set)}
    newrow['Price'] = price

    words = set(product.lower().split())
    for word in words: 
        if word in newrow: 
            newrow[word] = 1 

    all_data.loc[index+LASTINDEX] = newrow

all_data.head()

,tee,oxford,bomber,ncaa,vest,3-in-1,collared,packable,seersucker,playoff,...,sheer,7/8-length,shirt,flouncy,v-neck,color-blocked,pants,cheeky,yoga,Price
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,$40
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,$38
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,$75
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,$70
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,$160

In [121]:
all_data.tail()

,tee,oxford,bomber,ncaa,vest,3-in-1,collared,packable,seersucker,playoff,...,sheer,7/8-length,shirt,flouncy,v-neck,color-blocked,pants,cheeky,yoga,Price
10829,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,$90
10830,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,$40
10831,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,$60
10832,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,$55
10833,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,$130

In [124]:
all_data.to_csv("all_data_2.csv")